---
import { DecklistGenerator } from "@src/components/DecklistGenerator";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PTCG Decklist Generator</title>
  </head>
  <body class="container mx-8 my-8 dark:bg-slate-900">
    <h1 class="text-3xl font-bold mb-6 dark:text-white">Pokémon TCG Deck List Generator</h1>
    <DecklistGenerator client:load/>
  </body>
</html>