---
import { PdfViewer } from "@src/components/pdfViewer";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PTCG Decklist Generator</title>
  </head>
  <body class="container mx-auto my-8 w-5/6 dark:bg-slate-900">
    <PdfViewer client:load/>
  </body>
</html>