---
import { PrintView } from "@src/components/PrintView";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PTCG Decklist Generator</title>
  </head>
  <body class="container my-8 md:mx-auto">
    <PrintView client:load/>
  </body>
</html>